.bx-wrapper {
	box-shadow: none;
}

.bx-wrapper .bx-pager,.bx-wrapper .bx-pager-item {
	background-color: white;
}

.encabezado {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.bx-pager-item .bx-pager-link{
	visibility: hidden;
}